<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">
    <!--xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2.5.xsd">
-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--
    <servlet>
        <servlet-name>XmlRpcServlet</servlet-name>
        <servlet-class>org.apache.xmlrpc.webserver.XmlRpcServlet</servlet-class>
        <init-param>
            <param-name>enabledForExtensions</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>99</load-on-startup>
    </servlet>
    -->
    <servlet>
        <servlet-name>XMLRPCValidatingServlet</servlet-name>
        <servlet-class>mofokom.xmlrpc.test.XMLRPCValidatingServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>XMLRPCValidatingServlet</servlet-name>
        <url-pattern>/ProtectedXMLRPCValidatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLRPCValidatingServlet</servlet-name>
        <url-pattern>/XMLRPCValidatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLRPCValidatingServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>XmlRpcServlet</servlet-name>
        <url-pattern>/XmlRpcServlet</url-pattern>
    </servlet-mapping>
    -->
    <security-constraint>
        <display-name>XmlRpc Web Application</display-name>
        <web-resource-collection>
            <web-resource-name>none</web-resource-name>
            <description/>
            <url-pattern>/ProtectedXMLRPCValidatingServlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ACCESS</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>UserDatabase</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>ACCESS</role-name>
    </security-role>
</web-app>